@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: Poppins;
  margin: 0;
  font-size: 16px;
  background-color: #4f8b69;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
:root {
  --border-color: #fff5;
  --w-image: 500px;
  --calculate: calc(3 / 2);
}
header {
  display: grid;
  grid-template-columns: 90px 1fr calc(var(--w-image) * var(--calculate));
  grid-template-rows: 80px;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid var(--border-color);
}
header .logo img {
  width: 80%;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav a {
  color: #000;
  font-weight: 400;
}
header nav ul {
  height: 138%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  padding-right: 30px;
}
header nav {
  border-left: 1px solid var(--border-color);
}
.carousel {
  margin-top: -80px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.carousel .list {
  height: 100%;
  position: relative;
}
.carousel .list::before {
  position: absolute;
  width: var(--w-image);
  height: 100%;
  content: "";
  top: 0;
  left: calc(100% - calc(var(--w-image) * var(--calculate)));
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  z-index: 10;
  pointer-events: none;
}
.carousel .list::after {
  position: absolute;
  top: 50px;
  left: 50px;
  content: "";
  background-color: red;
  width: 400px;
  height: 300px;
  z-index: 10;
  pointer-events: none;
  border-radius: 20px 50px 110px 230px;
  filter: blur(150px);
  opacity: 6;
}
.carousel .list .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carousel .list .item .image {
  width: var(--w-image);
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(100% - calc(var(--w-image) * var(--calculate)));
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  font-weight: 500;
}
.carousel .list .item .image img {
  width: 90%;
  margin-bottom: 20px;
  filter: drop-shadow(0 150px 50px #9e0c0c55);
}
.carousel .list .item .image figcaption {
  font-family: "Aboreto";
  font-weight: bold;
  font-size: 1.3em;
  text-align: right;
  margin-bottom: 30px;
  width: 70%;
}
.carousel .list .item .main-content{
  height: 100%;
  display: grid;
  grid-template-columns: calc(100% - calc(var(--w-image)* var(--calculate)));
}
.carousel .list .item .main-content .content{
  padding: 20px 20px 20px 80px;
}